{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Home</title>
	<!-- Bootstrap core CSS -->
	<link rel="stylesheet" href="//stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" crossorigin="anonymous">
	<style>
		.bd-placeholder-img {
			font-size: 1.125rem;
			text-anchor: middle;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
		}

		@media (min-width: 768px) {
			.bd-placeholder-img-lg {
				font-size: 3.5rem;
			}
		}
	</style>
</head>
<body>
  <header>
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark" role="navigation">
			<a class="navbar-brand" href="{% url 'home' %}">Nelson ANGELIQUE</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
				<i class="navbar-toggler-icon">&nbsp;</i>
			</button> <!-- .navbar-toggler -->
			<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
				<div class="navbar-nav ml-auto">
					<a class="nav-item nav-link" href="//github.com/Spounge">Github</a>
					<a class="nav-item nav-link" href="{% static 'resume.pdf' %}">Resume</a>
					<a class="nav-item nav-link" href="{% url 'index' %}">Blog</a>
				</div> <!-- .navbar-nav -->
			</div> <!-- .collapse -->
		</nav> <!-- .navbar -->
	</header>
	<main role="main">
		<section class="jumbotron text-center">
			<div class="container">
				<h1 class="jumbotron-heading">Hi, I'm Nelson</h1>
				<p class="lead text-dark">My name is Nelson. I'm a Django developer.</p>
				<img class="img-fluid w-25 mb-3" src="{% static 'laughing_man.jpg' %}" alt="picture of me" role="image">
				<br>
				<a href="mailto:nelson.angelique@epitech.eu" class="btn btn-dark my-2">Email Me</a>
			</div> <!-- .container -->
		</section> <!-- .jumbotron -->
		<section class="album py-5">
			<div class="container">
				<div class="row">
					{% for job in jobs.all %}
					<div class="col-md-4">
						<div class="card mb-4 shadow-sm">
							<img class="bd-placeholder-img card-img-top" width="100%" height="225" src="{{ job.image.url }}" alt="thumbnail" role="image">
							<div class="card-body">
								<p class="card-text">{{ job.summary }}</p>
							</div> <!-- .card-body -->
						</div> <!-- .col -->
					</div>
					{% endfor %}
				</div> <!-- .row -->
			</div> <!-- .container -->
		</section> <!-- .album -->
	</main>
	<footer class="text-muted">
		<div class="container">
			<a class="float-right badge badge-dark" href="#">Back to top</a>
			<p class="text-center">© are for neckbearded, {% now 'Y' %}.</p>
		</div> <!-- .container -->
	</footer>
	<!-- JQuery -->
	<script src="//code.jquery.com/jquery-3.3.1.slim.min.js" crossorigin="anonymous"></script>
	<!-- Pooper.js -->
	<script src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" crossorigin="anonymous"></script>
	<!-- Bootstrap core JS -->
	<script src="//stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" crossorigin="anonymous"></script>
</body>
</html>
